name: spc-download

on:
    schedule:
        -   cron: '0 0 * * *'
    workflow_dispatch:

permissions:
    contents: read
    actions: write

jobs:
    download:
        runs-on: ubuntu-24.04
        permissions:
            contents: read
            actions: write
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        steps:
            -   name: Set up PHP
                uses: shivammathur/setup-php@44454db4f0199b8b9685a5d763dc37cbf79108e1 # v2
                with:
                    php-version: '8.4'
                    tools: composer:v2

            -   name: Checkout code
                uses: actions/checkout@v4
                with:
                    persist-credentials: false

            -   name: Composer install
                run: composer install

            -   name: Download extensions
                run: |
                    php vendor/bin/spc download --shallow-clone -e amqp,apcu,ast,bcmath,brotli,bz2,calendar,ctype,curl,dba,dio,dom,ds,ev,event,exif,ffi,fileinfo,filter,ftp,gd,gettext,gmp,gmssl,iconv,igbinary,imagick,inotify,intl,ldap,libxml,lz4,maxminddb,mbregex,mbstring,memcache,memcached,mongodb,msgpack,mysqli,mysqlnd,odbc,opcache,openssl,opentelemetry,parallel,password-argon2,pcov,pcntl,pdo,pdo_mysql,pdo_odbc,pdo_pgsql,pdo_sqlite,pdo_sqlsrv,pgsql,phar,posix,protobuf,rar,rdkafka,readline,redis,session,shmop,simdjson,simplexml,snappy,soap,sockets,sodium,spx,sqlite3,sqlsrv,ssh2,swoole,sysvmsg,sysvsem,sysvshm,tidy,tokenizer,uuid,uv,xdebug,xhprof,xlswriter,xml,xmlreader,xmlwriter,xsl,xz,yac,yaml,zip,zlib,zstd

            -   name: Create tarball (keep permissions)
                run: |
                    tar -czf downloads.tar.gz -C downloads .

            -   name: Upload downloads directory
                uses: actions/upload-artifact@v4
                with:
                    name: downloads-tarball
                    path: downloads.tar.gz
                    retention-days: 2

            -   name: Trigger build-gcc-packages workflow
                if: success()
                run: gh workflow run build-gcc-packages.yml
                env:
                    GH_TOKEN: ${{ secrets.GH_PAT }} # use our own user as the triggering user

            -   name: Trigger build-gcc-deb-packages workflow
                if: success()
                run: gh workflow run build-gcc-deb-packages.yml
                env:
                    GH_TOKEN: ${{ secrets.GH_PAT }} # use our own user as the triggering user
